<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/Adit.jpg" alt="Aditya" class="poto rounded-circle " width="200px">
            <h1 class="display-1">Aditya Rahman Syach</h1>
            <p class="Bio">Junior Programmer | College Student</p>
        </div>
    </div>
</div>